<h1>Here is the playlist we generated for you</h1>
<h2>We've added it to your Spotify account.</h2>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Artists</th>
  </tr>
  </thead>
  <tbody>
  <%@tracks.each do |track| %>
  <tr>
    <td><%=track.name%></td>
    <td><%=track.artists.first.name %></td>
  </tr>
  <% end %>
  </tbody>


</table>
